/* table td {
    border: 1px solid black;
   padding: 5px 5px 5px 5px;
   }
   
   table th {
    border: 1px solid black;
   padding: 5px 5px 5px 5px;
   }  */

   table, th, td {
    border: 1px solid black;
  }
  table {
    width: 50%;
    border-collapse: collapse;
  }


   